name: Deploy to HuggingFace Spaces

on:
  push:
    branches:
      - main
    paths:
      - 'deployment/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Push to HuggingFace Space
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git clone https://huggingface.co/spaces/utkarshsingh0013/enghind-translator-public_notice
        cd enghind-translator-public_notice
        rm -rf *
        cp -r ../deployment/* .
        git add .
        git commit -m "Auto-deploy from GitHub" || echo "No changes"
        git push https://utkarshsingh0013:$HF_TOKEN@huggingface.co/spaces/utkarshsingh0013/enghind-translator-public_notice main
